RewriteEngine On

RewriteBase /eWallet/

RewriteRule server/(.*)/(.*) server/index.php?url=$1&id=$2 [L,QSA]

RewriteRule server/(.*) server/index.php?url=$1 [L,QSA]

#RewriteRule server/user/(.*) server/User.php?url=$1 [L,QSA]

#RewriteRule server/category/(.*)/(.*) server/Category.php?url=$1&id=$2 [L,QSA]

#RewriteRule server/category/(.*) server/Category.php?url=$1&id=$2 [L,QSA]

#RewriteRule server/category/(.*) server/Category.php?url=user&id=$1 [L,QSA]

#RewriteRule server/category/(.*) server/Category.php?url=editCategoryData&id=$1 [L,QSA]